.weather-card {
  background: #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 4px;

  width: 500px;
  padding: 25px;
}

.header-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}

.header-info span {
  font-size: 3rem;
}

.header-info img {
  width: 90px;
}

.card-body {
    display: flex;
    justify-content: space-between;

    margin: 20px 0 0 0;
}

.card-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.enter {
  animation: jackInTheBox 0.4s forwards;
}

.last-updates{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  text-align: right;
}

.last-updates button {
  width: 130px;
}

.temperature {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

strong,
h5 {
  color: #9f3afe;
}

.infos {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .weather-card {
    width: 90%;
  }

  .header-info img {
    width: 70px;
  }
}

@media screen and (max-width: 480px) {
  .header-info span {
    font-size: 2rem;
  }
}