* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Ubuntu", sans-serif;
}

.app-container {
  background: linear-gradient(to bottom right, #fff 88%, #835dfe);

  width: 100vw;
  height: calc(100vh - 50px);

  padding: 0 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .app-container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .app-container {
    padding: 5px;
  }
}

