* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Ubuntu', sans-serif;
}

.app-container {
  background: linear-gradient(#050e2f, #030b27);

  width: 100vw;
  height: calc(100vh - 70px);

  padding: 0 40px;
}
